.btn {
    border-radius: 8px;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &-primary {
        background: #2f80ed;
        color: #ffffff;
    }

    &-danger {
        background-color: #f44336;
        color: #fff;
    }

    &-default {
        background: #fff;
        color: #2f80ed;
    }

    &-inline {
        background: transparent;
        border: none;
    }
}