.btn {
    &-primary {
        background: #2f80ed;
        border-radius: 8px;
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}