#sidebar:target {

    //Adapt the dashboard space here
    + .dashboard {
        grid-column: 4 / -1;
    }

    @include mobile {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .sidebar__close-btn {
        display: flex;
    }

    .sidebar__burger-btn {
        display: none;
    }

    .sidebar-inner {
        display: flex;
    }
}

.sidebar {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
    }

    @include tablet {
        
    }

    @include laptop-m {
        
    }

    @include laptop-l {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &-inner {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;

        @include mobile {
            display: none;
        }

        @include laptop-l {
            display: flex;
        }
    }

    &__burger-btn {
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .burger-icon {
            display: block;
            height: 3px;
            width: 30px;
            background-color: black;
            position: relative;

            &:before, &:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 30px;
                background-color: black;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
            }
        }

        @include mobile {
            display: flex;
        }

        @include laptop-l {
            display: none;
        }

    


    }

    &__close-btn {
        display: none;
        height: 16px;
        width: 16px;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        .close-icon {
            position: relative;
            height: 16px;
            width: 16px;
            // display: block;

            &:before, &:after {
                content: "";
                height: 3px;
                width: 15px;
                background-color: black;
                position: absolute;
                bottom: 50%;
            } 

            &:before {
                transform: rotate(45deg);  
            }

            &:after {
                transform: rotate(-45deg); 
            }
        }


    }
  
    &__navigation {
        font-weight: 600;
        font-size: 18px;
      margin-top: 50px;
      width: 100%;
      ul {
        list-style: none;
        padding: 0;
  
        li {
          a {
            color: $dark-grey;
            display: block;
            padding: 15px 0;
            text-transform: capitalize;
  
            &:hover {
              color: $primary;
              text-decoration: none;
            }
          }
        }
      }
    }
  
    &__details {
      display: flex;
      align-items: center;
      padding: 20px 0;
  
      width: 100%;
      img {
        border-radius: 50%;
        margin-right: 15px;
      }
  
      &-inner {
        
        #mail {
          margin: 3px 0;

          @include tablet {
            font-weight: 600;
          }

          @include laptop-m {
            font-weight: 600;
            font-size: 18px; 
          }

        //   @include laptop-l {
        //     font-weight: 600;
        //     font-size: 18px;
        //   }
        }
  
        #role {
          margin: 3px 0;
          text-transform: capitalize;
        }
      }
    }
  
    &__button {
      margin-top: auto;
      border: none;
      background: transparent;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;
    }
  }